@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

.container {
    padding: 10px 8%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
     
}

.logo {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 30PX;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: #DA0016;
}
.cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.search {
    border-radius: 20px;
    background-color: #fff;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon {
    margin-left: 40px;
}

input {
    border: none;
    outline: none;
    margin-left: 10px;
    background: transparent;
}
 
.cart i {
    margin-left: 20px;
    font-size: 20px;
}


/* Home */

.home-section {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-left {
    width: 54%;
    margin-top: 8%;
}
.home-left h1 {
    font-size: 50px;
    line-height: 1.2;
}

.home-left .text-2 {
    margin-top: 30px;
}

.home-left .text-3 {
    margin-top: 40px;
    margin-bottom: 180px;
}

.btn {
    text-decoration: none;
    padding: 20px 30px;
    background: #DA0016;
    color: #fff;
}

.btn i {
    margin-left: 15px;
    font-size: 20px;
}

.btn:hover i {
    margin-left: 20px;
}


.home-right {
    width: 49.6%;
    background: #F5F5F5;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.home-right img {
    width: 600px;
    position: relative;
    top: 5%;
    left: 6%;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    
}

.box {
    width: 180px;
    height: 180px;
    background: #D9D9D9;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box img {
    width: 150px;
    
}

 


